#pragma code_page(65001)
1 VERSIONINFO
PRODUCTVERSION 0, 0, 0, 0
FILESUBTYPE 0x0
FILEFLAGS 0x0
FILETYPE 0x1
FILEVERSION 0, 0, 0, 0
FILEOS 0x40004
FILEFLAGSMASK 0x3f
{
BLOCK "StringFileInfo"
{
BLOCK "000004b0"
{
VALUE "ProductVersion", "1.0.0"
VALUE "FileVersion", "1.0.0"
VALUE "ProductName", "Instigator"
VALUE "FileDescription", "Open-source Fortnite launcher, built in Rust."
}
}
BLOCK "VarFileInfo" {
VALUE "Translation", 0x0, 0x04b0
}
}
32512 ICON "assets/icon.ico"

